<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    scope属性：设置bean的作用域
        当属性值为singleton时，在IOC容器中这个bean的对象始终为单实例；且创建对象的时机是IOC容器初始化时
        当属性值为prototype时，在IOC容器中这个bean的对象有多个实例；且创建对象的时机是获取bean时
    -->
    <bean id="student" class="org.rain.spring.pojo.Student" scope="prototype"></bean>

</beans>