<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <!--list集合类型的bean-->
    <util:list id="students">
        <ref bean="student"></ref>
        <ref bean="studentThree"></ref>
        <ref bean="studentfour"></ref>
    </util:list>

    <!--map集合类型的bean-->
    <util:map id="teacherMap">
        <entry key="10010" value-ref="teacherOne"></entry>
        <entry key="10086" value-ref="teacherTwo"></entry>
    </util:map>

    <bean id="studentTen" class="org.rain.spring.pojo.Student"
    p:id="1001" p:name="张三" p:teacherMap-ref="teacherMap"></bean>

    <bean id="studentNine" class="org.rain.spring.pojo.Student">
        <property name="id" value="0011"></property>
        <property name="name" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
        <property name="clazz">
            <bean class="org.rain.spring.pojo.Clazz">
                <property name="cid" value="1111"></property>
                <property name="cname" value="三年E班"></property>
            </bean>
        </property>
        <property name="hobby">
            <array>
                <value>游泳</value>
                <value>跑步</value>
                <value>骑车</value>
            </array>
        </property>
        <property name="teacherMap" ref="teacherMap"> </property>
    </bean>

    <!--
        property标签:通过组件类的setXxx()方法给组件对象设置属性
            name属性：指定属性名
            value属性：设置属性值
    -->
    <bean id="student" class="org.rain.spring.pojo.Student">
        <property name="id" value="0011"></property>
        <property name="name" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
    </bean>

    <!--
        constructor标签：通过组件类的有参构造方法给组件对象设置属性
            name属性：指定有参构造方法参数名
            value属性：设置有参构造方法参数值
    -->
    <!--<bean id="studentTwo" class="org.rain.spring.pojo.Student">
        <constructor-arg name="id" value="1002"></constructor-arg>
        <constructor-arg name="name" value="李四"></constructor-arg>
        <constructor-arg name="age" value="24"></constructor-arg>
        <constructor-arg name="sex" value="女"></constructor-arg>
    </bean>-->

    <bean id="studentThree" class="org.rain.spring.pojo.Student">
        <property name="id" value="1003"></property>
        <!-- CDATA中的C代表Character，是文本、字符的含义，CDATA就表示纯文本数据 -->
        <!-- XML解析器看到CDATA节就知道这里是纯文本，就不会当作XML标签或属性来解析 -->
        <!-- 所以CDATA节中写什么符号都随意 -->
        <property name="name">
            <value><![CDATA[<张三>]]></value>
        </property>
        <property name="sex" >
            <null></null>
        </property>
    </bean>

    <bean id="clazz" class="org.rain.spring.pojo.Clazz">
        <property name="cid" value="1111"></property>
        <property name="cname" value="三年E班"></property>
    </bean>

    <bean id="studentfour" class="org.rain.spring.pojo.Student">
        <property name="id" value="0011"></property>
        <property name="name" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
        <!-- ref属性：引用IOC容器中某个bean的id，将所对应的bean为属性赋值 -->
        <property name="clazz" ref="clazz"></property>
    </bean>

    <bean id="studentFive" class="org.rain.spring.pojo.Student">
        <property name="id" value="0011"></property>
        <property name="name" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
        <!-- 一定先引用某个bean为属性赋值，才可以使用级联方式更新属性 -->
        <property name="clazz" ref="clazz"></property>
        <property name="clazz.cid" value="2222"></property>
        <property name="clazz.cname" value="五年A班"></property>
    </bean>

    <bean id="studentSix" class="org.rain.spring.pojo.Student">
        <property name="id" value="0011"></property>
        <property name="name" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
        <property name="clazz">
            <!-- 内部bean只能用于给属性赋值，不能在外部通过IOC容器获取，因此可以省略id属性 -->
            <bean class="org.rain.spring.pojo.Clazz">
                <property name="cid" value="1111"></property>
                <property name="cname" value="三年E班"></property>
            </bean>
        </property>
    </bean>

    <bean id="studentSeven" class="org.rain.spring.pojo.Student">
        <property name="id" value="0011"></property>
        <property name="name" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
        <property name="clazz">
            <bean class="org.rain.spring.pojo.Clazz">
                <property name="cid" value="1111"></property>
                <property name="cname" value="三年E班"></property>
            </bean>
        </property>
        <property name="hobby">
            <array>
                <!--如果数组类型是基本类型和string类型，就用value标签-->
                <!--如果数组类型是类类型，就用ref标签-->
                <value>游泳</value>
                <value>跑步</value>
                <value>骑车</value>
            </array>
        </property>
    </bean>

    <bean id="clazzTwo" class="org.rain.spring.pojo.Clazz">
        <property name="cid" value="1111"></property>
        <property name="cname" value="三年E班"></property>
        <property name="students">
            <list>
                <!--如果list集合元素是基本类型和string类型，就用value标签-->
                <!--如果list集合元素是类类型，就用ref标签-->
                <ref bean="student"></ref>
                <ref bean="studentThree"></ref>
                <ref bean="studentfour"></ref>
            </list>
        </property>
    </bean>

    <bean id="teacherOne" class="org.rain.spring.pojo.Teacher">
        <property name="tid" value="10010"></property>
        <property name="tname" value="张老师"></property>
    </bean>

    <bean id="teacherTwo" class="org.rain.spring.pojo.Teacher">
        <property name="tid" value="10086"></property>
        <property name="tname" value="李老师"></property>
    </bean>

    <bean id="studentEight" class="org.rain.spring.pojo.Student">
        <property name="id" value="0011"></property>
        <property name="name" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
        <property name="clazz">
            <bean class="org.rain.spring.pojo.Clazz">
                <property name="cid" value="1111"></property>
                <property name="cname" value="三年E班"></property>
            </bean>
        </property>
        <property name="hobby">
            <array>
                <value>游泳</value>
                <value>跑步</value>
                <value>骑车</value>
            </array>
        </property>
        <property name="teacherMap">
            <map>
                <!--如果键是字面量，就用key属性，否则用key-ref属性 -->
                <!--如果值是字面量，就用value属性，否则用value-ref属性 -->
                <entry key="10010" value-ref="teacherOne"></entry>
                <entry key="10086" value-ref="teacherTwo"></entry>
            </map>
        </property>
    </bean>

</beans>